<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registrarme</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/imgs/UserAvatar.png">
    </ion-avatar>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="newUser.userName" placeholder="Tu nombre completo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]= "newUser.userEmail" type="email" placeholder="Correo PSL"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label fixed>Sedes: </ion-label>
    <ion-select [(ngModel)]="newUser.branchOfficeId">
      <ion-option value="" selected="true">Seleccione...</ion-option>
      <ion-option *ngFor="let o of branchOffices" value="{{o._id}}">{{o.officeName}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]= "newUser.userTelNumber" placeholder="Celular"></ion-input>>
  </ion-item>
  <ion-item>
    <h1>Vehiculos</h1>
    <ion-icon name="md-add-circle" item-end color="secondary" (click)="addCarVisible = !addCarVisible"></ion-icon>
  </ion-item>
  <add-vehicle [addCarVisible]="addCarVisible" (carAdded)="addVehiccle($event)" (failedValidation)="PresentAlert($event)"></add-vehicle>
  <ion-item *ngIf="vehicles != undefined && vehicles.length > 0">
    <vehicle-list [listOfVehicles]="vehicles"></vehicle-list>
  </ion-item>
  <ion-item>
    <button ion-button round (click)="cancel()">Cancelar</button>
    <button ion-button round (click)="registerNewUser()">Registrarme</button>
  </ion-item>
</ion-content>
