page-register
{
  .customPadding{
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
    color: #FFFFFF;
    background-color: transparent;
  }
}
