<ion-header>
    <div class="iconLogoImg">
      <img src="assets/imgs/icon-logo-parqueo-app.png">
    </div>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content>
  <br>
  <ion-item>
      <h1 class="ppalTitle" ion-text color="totalWhite">Crear nueva cuenta</h1>
  </ion-item>
  <br>
  <ion-item>
    <ion-input class="normalInput" [(ngModel)]="newUser.userName" placeholder="Tu nombre completo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input class="normalInput" [(ngModel)]= "newUser.userEmail" type="email" placeholder="Correo PSL"></ion-input>
  </ion-item>
  <div class="selectPadding">
    <div class="customSelect">
      <ion-item>
        <ion-select [(ngModel)]="newUser.branchOfficeId">
          <ion-option value="" selected="true">Sede</ion-option>
          <ion-option *ngFor="let o of branchOffices" value="{{o._id}}">{{o.officeName}}</ion-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
  <ion-item>
    <ion-input class="normalInput" [(ngModel)]= "newUser.userTelNumber" placeholder="Celular"></ion-input>>
  </ion-item>
  <ion-item>
    <h1 class="secondaryTitle" ion-text color="totalWhite">Vehículos</h1>
    <div class="addCarBtn" item-end (click)="addCarVisible = !addCarVisible" *ngIf="vehicles.length > 0"><u>Adicionar otro vehículo</u></div>
  </ion-item>
  <add-vehicle [addCarVisible]="addCarVisible" (carAdded)="addVehiccle($event)" (failedValidation)="PresentAlert($event)"></add-vehicle>
  <ion-item *ngIf="vehicles != undefined && vehicles.length > 0">
    <vehicle-list [listOfVehicles]="vehicles"></vehicle-list>
  </ion-item>
  <ion-item>
      <button class="btnLogin" ion-button full round (click)="registerNewUser()">Registrarse</button>
  </ion-item>
</ion-content>
