page-register
{
  .customSelect{
    opacity: 0.3;
    border-radius: 100px;
    background-color: #FFFFFF;
    margin-right: 6px;
  }

  .customPadding{
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
