add-vehicle {
  .customImgAvatar{
    max-width: 100px;
    max-height: 100px;
  }

  .roundImg{
    border-radius: 100px;
  }

  .customCard{
    background-color: transparent;
    box-shadow: none !important;
  }

  .select-md {
    padding: 13px 4px 13px 0px;
  }

  .customLabel {
    margin: 13px -27px 13px 0;
  }

  .flexLabel{
    flex-grow: 1 !important;
  }

  .cardPadding{
    padding-top: 5px;
  }

  .item-button{
    background-color: transparent !important;
    border-color: #FFFFFF;
    border: solid;
    height: 41px;
    font-family: 'Lato', sans-serif;
    box-shadow: none !important;
    font-size: 14px !important;
    text-transform: uppercase;
  }
}
