<ion-card class="customCard" *ngIf="addCarVisible">
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <div class="carImage">
          <div>Subir foto del vehículo</div>
        </div>
      </ion-col>
      <ion-col col-8>
        <div class="selectPadding noPaddingRight">
          <div class="customSelect">
            <ion-item>
              <ion-select [(ngModel)]="selectedBrand">
                <ion-option value="" selected="true">Marca</ion-option>
                <ion-option *ngFor="let b of brands" value="{{b}}">{{b}}</ion-option>
              </ion-select>
            </ion-item>
          </div>
        </div>
        <ion-item class="noPaddingRight">
          <ion-input class="normalInput" placeholder="Color" [(ngModel)]= "selectedColor"></ion-input>>
        </ion-item>
        <ion-item class="noPaddingRight">
          <ion-input class="normalInput" placeholder="Placa" [(ngModel)]= "licencePlate"></ion-input>>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item>
    <button ion-button full class="customBtn" (click)="newVehicle()">Agregar</button>
  </ion-item>
</ion-card>
