<ion-item>
  <ion-icon name="md-add-circle" item-end color="secondary" (click)="addCarVisible = !addCarVisible"></ion-icon>
</ion-item>
<ion-card *ngIf="addCarVisible">
  <ion-item>
    <ion-avatar>
      <img src="assets/imgs/CarAvatar.png">
    </ion-avatar>
  </ion-item>
  <ion-item>
    <ion-label fixed>Marca: </ion-label>
    <ion-select [(ngModel)]="selectedBrand">
      <ion-option value="" selected="true">Seleccione...</ion-option>
      <ion-option *ngFor="let b of brands" value="{{b}}">{{b}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label fixed>Color: </ion-label>
    <ion-select [(ngModel)]="selectedColor">
      <ion-option value="" selected="true">Seleccione...</ion-option>
      <ion-option *ngFor="let c of colors" value="{{c}}">{{c}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label fixed>Placa: </ion-label>
    <ion-input placeholder="HHH555" [(ngModel)]= "licencePlate"></ion-input>>
  </ion-item>
  <ion-item>
    <button ion-button color="light" (click)="cancelAddVehicle()">Cancelar</button>
    <button ion-button color="light" (click)="addVehiccle()">Agregar</button>
  </ion-item>
</ion-card>