<ion-header>
  <ion-navbar>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab menuToggle>
      <ion-icon class="customIcon" name="car"></ion-icon>
      <ion-badge class="customBadge" color="dark">{{userName | slice:0:1}}</ion-badge>
    </button>
  </ion-fab>
  <div *ngIf="!myLocation">
    <h3>{{branchOffice}}</h3>
    <ion-card class="customCard">
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/UserAvatar.png">
        </ion-avatar>
        <h2 class="textColor">{{userName}}</h2>
      </ion-item>
      <ion-card-content>
        <p class="textColor">Tenemos parqueaderos disponibles en este momento.</p>
      </ion-card-content>
    </ion-card>
    <br><br>
    <ion-list *ngFor="let zone of zones">
      <ion-card class="customCard" (click)="clickDetails(zone)">
        <ion-card-header class="textColor">
          {{zone.zoneName | uppercase}}
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-badge item-end [color]="zone.count > 0 ? 'secondary' : 'danger'">{{zone.count}}</ion-badge>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>
  <div *ngIf="myLocation">
    <h3>Hola:</h3>
    <h3>{{userName}}</h3>
    <br>
    <p>En este momento estas estacionado en:</p>
    <br>
    <h3>{{branchOffice}}</h3>
    <h3>{{myLocation.parkingZoneName + ' - Celda ' + myLocation.cell.parkingNumber}}</h3>
    <br>
    <p>Puedes revisar el piso y la celda que estas ocupando en el siguiente enlace:</p>
    <br>
    <button ion-button full round color="secondary" (click)="viewParking()">
      Ver mi parqueadero.
    </button>
    <br>
    <p>Si deseas liberar la celda en este momento, puedes hacerlo aquí:</p>
    <br>
    <button ion-button full round (click)="releaseParking()">
      Liberar parqueadero.
    </button>
  </div>
</ion-content>
