
<ion-header>

  <ion-navbar>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-fab top right edge>
    <button ion-fab menuToggle>
      <ion-icon class="customIcon" name="car"></ion-icon>
      <ion-badge class="customBadge" color="dark">{{ user.userName| slice:0:1}}</ion-badge>
    </button>
  </ion-fab>
  <br>
  <h3 class="textAlign">{{zone.officeName + ' - ' + zone.zoneName}}</h3>
  <br>
  <p class="textAlign">Selecciona la celda donde deseas estacionar tu vehículo:</p>
  <ion-grid >
    <ion-row *ngFor="let p of parkings">
      <ion-col col-5 *ngFor="let c of p.parkings">
        <div>{{'#' + c.parkingNumber}}</div>
        <img [src]="zone.myCell && zone.myCell === c._id.toString() ? 'assets/imgs/OccupiedMine.png' : c.parkingStatus === 'AVAILABLE' ? 'assets/imgs/empty.png'
        : 'assets/imgs/Occupied.png'" (click)="showModal(c, p)">
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
