
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{zone.zoneName | uppercase}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid >
    <ion-row *ngFor="let p of parkings">
      <ion-col col-5 *ngFor="let c of p.parkings">
        <div>{{'#' + c.parkingNumber}}</div>
        <img [src]="c.parkingStatus === 'AVAILABLE' ? 'assets/imgs/empty.png' : 'assets/imgs/Occupied.png'" (click)="showModal(c, p)">
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
