page-welcome {

  .divImg{
    height: 301px;
    width: 245px;
    border: solid;
    margin-left: auto;
    margin-right: auto;
  }

  .ppalTitleWelcome{
    font-family: 'Lato', sans-serif;
    font-size: 26px !important;
    text-align: center;
  }

  .wrapText{
    font-family: 'Lato', sans-serif;
    font-size: 15px !important;
    text-align: center;
    color: #FFFFFF;
    width: 211px;
    margin-left: auto;
    margin-right: auto;
  }
}
