
  <ion-list *ngFor = "let vehicle of vehicles">
    <ion-card (click)="selectVehicle(vehicle)">
      <ion-item>
        <ion-avatar>
          <img src="assets/imgs/CarAvatar.png">
        </ion-avatar>
      </ion-item>
      <ion-item>
        <ion-label fixed>Marca: </ion-label>
        <ion-label fixed>{{vehicle.vehicleBrand}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label fixed>Color: </ion-label>
        <ion-label fixed>{{vehicle.vehicleColor}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label fixed>Placa: </ion-label>
        <ion-label fixed>{{vehicle.vehicleLicensePlate}}</ion-label>
      </ion-item>
    </ion-card>
  </ion-list>
