
  <ion-list *ngFor = "let vehicle of vehicles">
    <ion-card class="customCard" (click)="selectVehicle(vehicle)">
      <ion-grid>
        <ion-row>
          <ion-col col-5>
            <div class="carImage2">
              <img src="assets/imgs/camera-logo.png">
            </div>
          </ion-col>
          <ion-col col-7>
            <div class="thirdTitle">
              <span>
                {{vehicle.vehicleBrand}}
              </span>
            </div>
            <br>
            <div class="customTextColor">
              <span><b>Color:</b></span>
              <span>{{vehicle.vehicleColor}}</span>
            </div>
            <div class="customTextColor">
              <span><b>Placa:</b></span>
              <span>{{vehicle.vehicleLicensePlate}}</span>
            </div>
            <br>
            <div>
              <span><ion-icon color="totalWhite" name="ios-trash-outline"></ion-icon></span>
              <span class="deleteTetx"><u>Eliminar</u></span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
